div {
   display: inline-flex;
   margin: 10px;
}
.card {
    height: 150px;
    width: 120px;
    background-color: rgb(175, 175, 171);
    box-shadow: 0 4px 10px rgba(0, 0,0, 0.5);
    transition: transform 2s ease, box-shadow 3s ease;
    background-image: url(images.png);
    background-size: cover;
}
.card:hover {
    background-color: yellow ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(200px);
}
.card1 {
    height: 150px;
    width: 120px;
    background-color: rgb(175, 175, 171);
    box-shadow: 0 4px 10px rgba(0, 0,0, 0.5);
    transition: transform 3s ease, box-shadow 3s ease;
}
.card1:hover {
    background-color: rgb(55, 0, 255) ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(200px);
}
.card2 {
    height: 150px;
    width: 120px;
    background-color: rgb(175, 175, 171);
    box-shadow: 0 4px 10px rgba(0, 0,0, 0.5);
    transition: transform 2s ease, box-shadow 3s ease;
}
.card2:hover {
    background-color: rgb(0, 255, 55) ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(200px);
}