div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#container {
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#box1 {
    background-color: aqua;
}
#box2 {
    background-color: rgb(255, 0, 55);
    height: 200px;
    flex-shrink: 1; 
    flex-grow: 1;
}
#box3 {
    background-color: rgb(0, 255, 13);
}
#box4 {
    background-color: yellow;
}
body {
    text-align: center;
}