div {
    height: 100px;
    width: 100px;
    background-color: aqua;
}
@media(max-width: 305px){
    div {
        background-color: green;
    }
}
@media(min-width: 306px) and (max-width: 400px){
          div {
        background-color: pink;
    }
}
@media(min-width: 400px) and (max-width: 600px){
          div {
        background-color: red;
    }
}
@media(max-width: 600px){
    div {
        background-color: rgb(23, 0, 128);
    }
}
