.navbar {
    background-color: rgb(255, 192, 227);
    display: flex;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    color: black;
    background-color: rgb(185, 223, 15);
}
li {
    list-style-type: none;
    display: inline;
    background-color: rgb(170, 17, 63);
}
.outer {
    height: 200px;
     width: 200px;
     background-color: aqua;
     display: flex;
     justify-content: center;
     align-items: center;
}
.inner {
     height: 50px;
     width: 50px;
     background-color: rgb(55, 0, 255);
}