#box2 {
    height: 100px;
    width:100px;
    background-image: url(images.png);
    background-size: cover;

}
#box3 {
     height: 100px;
     width:  100px;
    position:sticky;
    bottom:70px;
    left:90px;
    top:0px;
    background-color: yellow;
}