/* div {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 200px;
    left: 300px;
    /* transition: ease-in; */
    /* transition-duration: 2s; */
    /* transition: 2s ease-in-out;
}
div:hover { */
    /* background-color: green;
    font-size: 20px; */
    /* transform: scale(2); */
    /* transform: rotate(130deg); */
    /* transform: translateY(-200px); */
    /* transform: scale(1.3) rotate(45deg) translateY(200px);
} */ 

/* button {
    padding: 12px solid black;
    border: none;
    position: absolute;
    top: 200px;
    left: 200px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 2s ease;
}
button:hover {
    background: green;
    transform: scale(1.1);
     transform: translateX(-10px); 
} */
 .card {
    height: 230px;
    width: 160px;
  
    background: rgb(65, 160, 46);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
 }
 .card:hover {
           transform: translateY(-12px);
           box-shadow: 0 10px 20px rgba(0,0,0,0.3);
 }