div {
    /* height: 100px;
    width: 100px;
    background-color: rgb(210, 255, 192);
    border: 2px solid green;
    border-radius: 50%;
    text-align: center; */
/*    
    border-radius: 50%; */
   /* padding-left: 20px;
   padding-right: 20px;
   padding-bottom:20px;
   padding-top: 20px; */
   /* padding: 1px 2px 3px 4px;
   margin-top: 50px; 
   margin-bottom: 60px; */
    
}
#navbar {
    height: 40px;
    width:  700px;
    border: 3px solid rgb(238, 255, 0);
    background-color: rgb(74, 201, 80);
    display: flex;
    
}
#logo {
    background-color: "white";
}
button {
    background-color: aqua;
}
a { 
    margin-right: 50px;
}