div {
    height: 100px;
    width: 100px;
    background-color: green;
    position: absolute;
    top: 100px;
    left: 100px;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s; */
    /* transition: all 2s ease-in 0.5s; */
    /* transform: rotate(45deg); */
    /* rotate: z 90deg;
    transform: scale(2); */
    transition: all 5s ease-in ;
}
div:hover {
    /* background-color: red;
    color: white;
    font-size: 30px; */
     /* transform: scaleY(2);
    transform: rotate(180deg);
    transition-duration: 2s; */
    transform: translateY(200px);
    transform: scale(1.5);
}
div:active {
    background-color: yellow;
}